body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(to bottom, rgb(119, 217, 122), rgb(45, 84, 45));
}

.container {
  margin-bottom: 10%;
}

.jumbotron {
  margin: 5% auto;
  /* margin-left: 43%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
  color: black;
  -webkit-text-stroke: 1px yellow;
}


table {
  margin: auto auto;
}
